.cart-item{
    display: flex;
    height: 130px;
    border: 1px solid black;
    width: 100%;
}
.product-img {
    height: 100px;
    width: 100px;
}
.product-img img{
    width: 100%;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-info h1{
    font-size: 15;
}